<configuration scan="true">


    <property name="APP_NAME" value="merchantNotification"/>
    <property name="LOG_FILE" value="./logs/merchantNotification.log"/>
    <property name="LOG_FILE_MINI" value="./logs/merchantNotification"/>


    <!-- 3rd Party Loggers -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.quartz" level="INFO"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %boldCyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %green([%-40.40logger{35}])-:%line -  %msg%n
            </pattern>

        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element
                or else the rollover logs are placed in the working directory. -->
            <fileNamePattern>${LOG_FILE_MINI}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 180 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger{35}-:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--works in sync with the config for log level from the application.yml file-->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>